body {
  background-color: rgb(65, 61, 61);
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.title {
  color: #ffffff;
  font-size: 2.5rem;
  padding-top: 0.5rem;
  margin-bottom: 0.5rem
}

.titlecard {
  background-color: #333333;
  padding: 1rem 2rem;
  border-radius: 1.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.option-1 {
  background-color: #333333;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.option-text {
  color: #ffffff;
  font-size: 1.5rem;
}

.nation-select {
  width: 100vw;
  height: 30rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}